<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="xxx_restfulapi_autotest" verbose="1" >
    <test name="xxx" >
        <classes>
            <class name="xxxmodel2Test" />
        </classes>
    </test>

    <test name="xxx">
        <classes>
        </classes>1
    </test>
</suite>
