<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="hulk_restfulapi_autotest" verbose="1" >
    <test name="RegistryApi" >
        <classes>
            <class name="com.sankuai.inf.hulk.registryapi.RepositoryTest" />
        </classes>
    </test>

    <test name="PieruiApi">
        <classes>
        </classes>
    </test>
</suite>
