{
	"id": 1609,
	"digest": "{{digest}}",
	"path": "",
	"status": 0,
	"create_time": 1556007887262,
	"update_time": 1556007887286,
	"end_time": 1556074800580,
	"cost_time": 66913294,
	"retry_times": 2,
	"message": "",
	"sync_type": {{sync_type}}
}